<div class="drawPile">
  <div>
    <p></p>
    <img src="" alt="">
    <p></p>
  </div>
  <img src="" alt="">
</div>

<h1>NickName</h1>

<img src="" alt="">

<!-- div.rack(div.item$*10>(p.num.top{{{ num }}}+img+p.num.bottom{{{ num }}})).      -->
<div class="rack">
  <div class="item1">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
  <div class="item2">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
  <div class="item3">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
  <div class="item4">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
  <div class="item5">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
  <div class="item6">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
  <div class="item7">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
  <div class="item8">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
  <div class="item9">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
  <div class="item10">
    <p class="num top">{{ num }}</p>
    <img src="" alt="">
    <p class="num bottom">{{ num }}</p>
  </div>
</div>

<h2>Score: </h2>
<h3>{{ Score }}</h3>