.container {
    display: grid;
    grid-template-columns: 40px auto auto auto 40px;
    grid-template-rows: 150px 100px auto 180px;
}

.drawCard {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.drawPile {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

.nickname {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.numRack {
    grid-column: 1 / span 1;
    grid-row: 3 / span 4;
}

.rack {
    grid-column: 2 / span 2;
    grid-row: 3 / span 4;
}

.score {
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
}


.item {
    position: relative;                       
    top: 1px;
    left: 0px;
    z-index: 1;
}