<div class="container">

  <div class="drawCard">
    <img src="../../../images/vert-card.svg" alt="">
    <p class="drawNum">{{ num }}</p>
  </div>
  
  <div class="drawPile">
    <img src="../../../images/drawPile.svg" alt="">
  </div>

  <div class="nickname">
    <h1>NickName</h1>
  </div>

  <div class="numRack">
    <img src="../../../images/numRack.svg" alt="racko score counter">
  </div>

  <!-- Emmett Code -->
  <!-- div.rack(div.item.$*10>(p.num.top{{{ num }}}+img+p.num.bottom{{{ num }}})). -->
  <div class="rack">
    <div class="item 1">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
    <div class="item 2">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
    <div class="item 3">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
    <div class="item 4">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
    <div class="item 5">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
    <div class="item 6">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
    <div class="item 7">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
    <div class="item 8">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
    <div class="item 9">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
    <div class="item 10">
      <p class="num top">{{ num }}</p>
      <img src="../../../images/card.svg" alt="">
      <p class="num bottom">{{ num }}</p>
    </div>
  </div>

  <div class="score">
    <h2>Score: </h2>
    <h3>{{ Score }}</h3>
  </div>

</div>

<link rel="stylesheet" href="./game-play.component.css">
